.left_header_headingg {
    line-height: 124%;
    font-weight: 800;
    font-size: 64px;
    margin-bottom: 20px;
}

.options {
    font-weight: 400;
    font-size: 24px;
}

.cont {
    margin-top: 20px;
}

.b3 {
    margin-right: 32px;
    background-color: rgb(231, 153, 7) !important;
    border-color: rgb(231, 153, 7) !important;
    padding: 12px !important;
    border-radius: 10% !important;
    font-size: 24px !important;
    margin-top: 16px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincont {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 80px;
}
.b4 {
    margin-left: 8px;
    background-color: rgb(231, 153, 7) !important;
    border-color: rgb(231, 153, 7) !important;
    padding: 6px !important;
    border-radius: 10% !important;
    font-size: 20px !important;
    color: white;
    /* margin-top: 16px; */
}